<nav class="nav-wrapper" ng-controller="HomePageAppCtrl as ctrl">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" ui-sref="home">Brand Text</a>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="left hide-on-med-and-down">
                <li ng-show="ctrl.isUserLogon"><a ui-sref="weddinggram">Wedding-Gram</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-lock " aria-hidden="true"></i> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-hide="ctrl.isUserLogon"><a ui-sref="SignIn">Sign In</a></li>
                        <li ng-hide="ctrl.isUserLogon"><a ui-sref="SignUp">Sign Up</a></li>
                        <li ng-show="ctrl.isUserLogon"><a ui-sref="MyAccount">My Account</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>